.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  padding: 40px;
}

.hero-image {
  width: 60%;
  height: 100%;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover !important;
}
